#dash-main {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    background-color: #F5F5F5;
}

#dash-left {
    width: 18%;
    height: 100%;
    border-radius: 30px;
    background-color: #000;
    padding: 60px 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#dash-lft-title {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#dash-lft-ul{
    list-style-type: none;
    margin: 40px 0;
    text-align: left;

}
#dash-lft-li{
    display: flex;
    align-items: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin-bottom: 8px;
}
#dash-lft-li-img{
    padding: 10px 20px 10px 0;
}
#dash-lft-li-p{
    font-size: 16px;
}
#dash-lft-bottom{
    align-items: baseline;
}
#dash-lft-bottom{
    font-family: 'Montserrat', sans-serif;   
}
#dash-lft-btm{
    font-size: 12px;
    font-weight: 200;
    cursor: pointer;
    margin-top: 10px;
}




/*------- RIGHT PANEL -------*/
#dash-right{
    width: 80%;
    display: flex;
    flex-direction: column;
}
#dash-ryt-top{
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}
#dash-ryt-top-left{
    font-family: 'Montserrat', sans-serif;

}
#dash-ryt-top-right{
    display: flex;
    align-items: center;
}
#dash-ryt-top-search{
    padding: 20px;
    margin-right: 20px;
}
#dash-ryt-top-input{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: #B0B0B0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
#dash-ryt-top-notify{
    width: 18px;
    margin-right: 20px;
}
#dash-ryt-top-profile{
    width: 35px;
}


#dash-sec1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#dash-ryt-card{
    width: 22%;
    /* border: 2px solid red; */
    padding: 20px;
    background-color: #DDEFE0;
    border-radius: 20px;
}
#dash-ryt-card-image{
    text-align: right;
}
#dash-ryt-card-revenue-img{
    mix-blend-mode: multiply;
}
#dash-ryt-card-revenue-title{
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}
#dash-ryt-card-revenue-amount{
    font-size: 22px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}





/* SECTION2 CHART */
#dash-sec2{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    margin: 20px 0;

    /* border: 2px solid red; */
}
#dash-sec2-title{
    font-size: 16px;
    font-weight: 700;
}
#dash-sec2-date{
    font-size: 14px;
    color: #858585;
}
#dash-sec2-arrow-img{
    width: 8px;
    height: 5px;
    margin-left: 10px;
}
#dash-sec2-extras, #dash-sec2-time, #dash-sec2-indicator, #dash-sec2-indicator1, #dash-sec2-indicator2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dash-sec2-indicator1-p, #dash-sec2-indicator2-p{
    font-size: 14px;
    margin-left: 10px;
}
#dash-sec2-indicator2{
    margin-left: 30px;
}