#home-main {
    width: 100%;
    height: 100vh;
    display: flex;

    background-color: #F5F5F5;
}

#home-left-panel {
    width: 40%;
    background-color: #000;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

#home-lft-pl-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;

}


/* RIGHT PANEL */
#home-right-panel {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-ryt-pl-signup {
    display: flex;
    flex-direction: column;
}

#home-ryt-pl-signup-heading {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

#home-ryt-pl-signup-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px;
}

#home-ryt-pl-signup-title-2 {
    font-size: .8rem;
    font-weight: 500;
}
#home-ryt-pl-signup-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#home-ryt-pl-signup-btn1 {
    width: 48%;
    cursor: pointer;
}

#home-ryt-pl-signup-btn2 {
    width: 48%  ;
    cursor: pointer;
}

/* SIGNUP FORM */
#home-ryt-pl-form {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background: #FFF;
    font-family: 'Lato', sans-serif;
    margin: 20px 0;
}

#home-ryt-pl-email {
    display: flex;
    flex-direction: column;
}

#home-ryt-pl-email-label {
    font-size: .8rem;
    font-size: 16px;
    margin: 10px 0;
    font-family: 'Lato', sans-serif;
}

#home-ryt-pl-email-input {
    background-color: #F5F5F5;
    /* font-size: .8rem; */
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;

    margin-bottom: 10px;
}

#home-ryt-pl-password-label {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 10px 0;
    font-family: 'Lato', sans-serif;
}

#home-ryt-pl-password-input {
    background-color: #F5F5F5;
    /* font-size: .8rem; */
    border: none;
    outline: none;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input[type='password'] {
    font-family: Verdana;
    letter-spacing: 0.125em;
}

#home-ryt-pl-form-forget {
    font-size: 16px;
    color: #346BD4;
    margin-bottom: 20px;
    cursor: pointer;
}

#home-ryt-pl-form-btn {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    background: #000;
    padding: 10px;
    cursor: pointer;
}





@media screen and (max-width: 600px) {
    #home-left-panel{
        display: none;
    }
    #home-right-panel{
        width: 90%;
        margin: auto;
    }
}